version: '3.3'

services:
    pms-docker:
        image: plexinc/pms-docker
        container_name: plex
        #network_mode: host
        environment:
            - TZ=America/Chicago
            - PLEX_CLAIM=claim-A7EhBpo7PRhsx7sDKMYh
        volumes:
            - ./data/config:/config
            - ./data/transcode:/transcode
            - /mnt/plex:/data
        restart: unless-stopped
        ports:
          - "32400:32400/tcp"
          - "3005:3005/tcp"
          - "8324:8324/tcp"
          - "32469:32469/tcp"
          - "1900:1900/udp"
          - "32410:32410/udp"
          - "32412:32412/udp"
          - "32413:32413/udp"
          - "32414:32414/udp"
        networks:
            - my-network
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.plex.rule=Host(`plex.server.unarmedpuppy.com`)"
            - "traefik.http.routers.plex.entrypoints=websecure"
            - "traefik.http.routers.plex.tls.certresolver=myresolver"
            - "traefik.http.routers.plex.service=plex"
            - "traefik.http.services.plex.loadbalancer.server.port=32400"
            - "traefik.http.middlewares.plex-https-redirect.redirectscheme.scheme=https"
            - "traefik.http.routers.plex.middlewares=plex-https-redirect"
            - "homepage.group=Media"
            - "homepage.name=Plex"
            #- homepage.icon=emby.png
            - "homepage.href=http://plex.server.unarmedpuppy.com"
            - "homepage.description=Plex server"
networks:
  my-network:
    external: true
