version: "3"
services:
  metube:
    image: ghcr.io/alexta69/metube
    container_name: metube
    restart: unless-stopped
    ports:
      - "8020:8081"
    volumes:
      - ./data:/downloads
    labels:
      - "homepage.group=Apps"
      - "homepage.name=MyTube"
      - "homepage.icon=si-youtubekids"
      - "homepage.href=http://172.16.30.45:8020"
      - "homepage.description=Download & Save Youtube videos"