version: "3"
services:
  cloudflare-ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    network_mode: host
    restart: always
    user: 1000:1000
    cap_drop:
      - all
    read_only: true
    security_opt:
      - no-new-privileges:true
    environment:
      - CF_API_TOKEN=UkNN8yUoQoIBJkM9AnRvvlmCy2QpjDwblqaEPJ9A # pls adjust
      - DOMAINS=gumberlund.server.unarmedpuppy.com, wireguard.server.unarmedpuppy.com, recipes.server.unarmedpuppy.com, seafile.server.unarmedpuppy.com, grafana.server.unarmedpuppy.com, adguard.server.unarmedpuppy.com, setup-adguard.server.unarmedpuppy.com, rcon-rust.server.unarmedpuppy.com, server.unarmedpuppy.com, minecraft.server.unarmedpuppy.com, rust.server.unarmedpuppy.com, libreddit.server.unarmedpuppy.com, traefik.server.unarmedpuppy.com, nextcloud.server.unarmedpuppy.com, plex.server.unarmedpuppy.com, homeassistant.server.unarmedpuppy.com, rust.server.unarmedpuppy.com, minecraft.server.unarmedpuppy.com, vaultwarden.server.unarmedpuppy.com, mtg.server.unarmedpuppy.com, n8n.server.unarmedpuppy.com, paperless.server.unarmedpuppy.com, maptapdat.server.unarmedpuppy.com, photos.server.unarmedpuppy.com, local-ai.server.unarmedpuppy.com, beaverhabits.server.unarmedpuppy.com, mazanoke.server.unarmedpuppy.com, planka.server.unarmedpuppy.com, owntracks.server.unarmedpuppy.com, lubelog.server.unarmedpuppy.com, excalidraw.server.unarmedpuppy.com, mattermost.server.unarmedpuppy.com, newsblur.server.unarmedpuppy.com, firefly.server.unarmedpuppy.com, habitica.server.unarmedpuppy.com, archive.server.unarmedpuppy.com, campfire.server.unarmedpuppy.com, monica.server.unarmedpuppy.com, open-health.server.unarmedpuppy.com, soulsync.server.unarmedpuppy.com, tunarr.server.unarmedpuppy.com, wiki.server.unarmedpuppy.com, blog.server.unarmedpuppy.com, # pls adjust; a list of fully qualified domain names separated by commas
      - PROXIED=false # instructs Cloudflare to cache webpages on your machine and hide its actual IP addresses
      - TZ=America/Chicago
      - PUID=1000
      - PGID=1000
      - IP6_PROVIDER=none # disbale IPv6
    labels:
      - "homepage.group=Infrastructure"
      - "homepage.name=Cloudflare DDNS"
      - "homepage.icon=si-cloudflare"
      - "homepage.description=Dynamic DNS updating"
      
