version: "3"
services:
  cloudflare-ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    network_mode: host
    restart: always
    user: 1000:1000
    cap_drop:
      - all
    read_only: true
    security_opt:
      - no-new-privileges:true
    environment:
      - CF_API_TOKEN=UkNN8yUoQoIBJkM9AnRvvlmCy2QpjDwblqaEPJ9A # pls adjust
      - DOMAINS=vaultwarden.server.unarmedpuppy.com, # pls adjust; a list of fully qualified domain names separated by commas
      - PROXIED=false # instructs Cloudflare to cache webpages on your machine and hide its actual IP addresses
      - TZ=America/Chicago
      - PUID=1000
      - PGID=1000
      - IP6_PROVIDER=none # disbale IPv6
    labels:
      - "homepage.group=Services"
      - "homepage.name=Cloudflare DDNS"
      - "homepage.icon=si-cloudflare"
      - "homepage.description=Dynamic DNS updating"
      
