version: "3"
services:
  spotdl:
    container_name: spotdl
    image: spotdl/spotify-downloader
    command: web --host 0.0.0.0 --web-use-output-dir
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Chicago
      - UMASK=002
    ports:
      - 8800:8800
    volumes:
      - ./data:/music #must use the :/music for config to work.
    #network_mode: host
    restart: unless-stopped
    labels:
      - "homepage.group=Apps"
      - "homepage.name=SpotifyDL"
      - "homepage.icon=si-spotify"
      - "homepage.href=http://192.168.86.47:8800"
      - "homepage.description=Download & Save Spotify content"
