version: "3"
services:
  metube:
    image: spotdl/spotify-downloader
    container_name: spotifydl
    restart: unless-stopped
    volumes:
      - ./data:/downloads
    labels:
      - "homepage.group=Apps"
      - "homepage.name=SpotifyDL"
      - "homepage.icon=si-spotify"
      - "homepage.href=http://192.168.86.47:8019"
      - "homepage.description=Download & Save Spotify content"