# stack for immich >= 1.91.0

version: "3.8"

services:
  immich-server:
    container_name: immich-server
    image: altran1502/immich-server:release
    command: [ "start.sh", "immich" ]
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - /mnt/server-cloud/photo-archive:/mnt/server-cloud/photo-archive:ro
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    ports:
      - 2283:3001
    expose:
      - 3001
    depends_on:
      - immich-redis
      - immich-database
    restart: unless-stopped
    networks:
      - my-network
    labels:
      - "homepage.group=Apps"
      - "homepage.name=Immich"
      - "homepage.icon=si-googlephotos"
      - "homepage.href=http://192.168.86.47:2283"
      - "homepage.description=Family photos & videos"

  immich-microservices:
    container_name: immich-microservices
    image: altran1502/immich-server:release
    command: [ "start.sh", "microservices" ]
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
      - /mnt/server-cloud/photo-archive:/mnt/server-cloud/photo-archive:ro
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    depends_on:
      - immich-redis
      - immich-database
    restart: unless-stopped
    #labels:
    #  - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - my-network 

  immich-machine-learning:
    image: altran1502/immich-machine-learning:release
    container_name: immich-ml
    volumes:
      - ${UPLOAD_LOCATION}:/usr/src/app/upload
      - model-cache:/cache
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    #labels:
    #  - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - my-network

  immich-redis:
    container_name: immich-redis
    image: redis:6.2-alpine
    restart: unless-stopped
    #labels:
    #  - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - my-network

  immich-database:
    container_name: immich-database
    image: tensorchord/pgvecto-rs:pg14-v0.2.0
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      PG_DATA: /var/lib/postgresql/data
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    #labels:
    #  - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - my-network
    
volumes:
  model-cache:
  pgdata:

networks:
  my-network:
    external: true
