---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/service-widgets

- resources:
    cpu: true
    memory: true
    disk:
      - /
      - /mnt/server-cloud
      - /mnt/server-storage

- search:
    provider: duckduckgo
    target: _blank
