---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/service-widgets

- resources:
    cpu: true
    memory: true
    disk: /dev/nvme0n1p2

- search:
    provider: duckduckgo
    target: _blank
