version: '3.8'
services:
  tunarr:
    image: chrisbenincasa/tunarr:latest
    container_name: tunarr
    ports:
      - "8001:8000"
    runtime: nvidia
    environment:
      - LOG_LEVEL=INFO
      - TZ=America/Chicago
      - TUNARR_SERVER_TRUST_PROXY=true
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      - ./data:/config/tunarr
    restart: unless-stopped
    networks:
      - my-network
    labels:
      - "homepage.group=Media & Entertainment"
      - "homepage.name=Tunarr"
      - "homepage.icon=si-plex"
      - "homepage.href=http://192.168.86.47:8001"
      - "homepage.description=Live TV streaming from Plex media"

networks:
  my-network:
    external: true

