log:
  level: debug

runner:
  file: .runner
  capacity: 1
  timeout: 3h
  insecure: false
  fetch_timeout: 5s
  fetch_interval: 2s

cache:
  enabled: true
  dir: ""
  host: ""
  port: 0

container:
  network: ""
  privileged: true
  options: ""
  workdir_parent:
  valid_volumes:
    - /var/run/docker.sock
  docker_host: ""
  force_pull: false

host:
  workdir_parent: /data/workspace
