version: '3.8'
services:
  grist:
    build:
      context: . # Assumes Dockerfile is in the same directory as this docker-compose.yml
      dockerfile: Dockerfile # Specifies the name of the Dockerfile
    ports:
      - "8484:8484" # Change 8484:8484 to desired PORT:PORT to change port
    volumes:
      - "./persist:/persist" # Map local persist directory to container's /persist
    environment:
      PORT: "8484" # Set PORT variable if you need to change Grist's running port
      GRIST_SANDBOX_FLAVOR: "gvisor" # Optional: Enable gVisor sandboxing
      GRIST_DEFAULT_EMAIL: "joshua@jenquist.com"
      TZ: "America/Chicago"
    stdin_open: true
    tty: true
    restart: unless-stopped
    labels:
      - "homepage.group=Services"
      - "homepage.name=Grist"
      - "homepage.icon=si-googlesheets"
      - "homepage.href=http://192.168.86.47:8484"
      - "homepage.description=Spreadsheets Core"