version: "3.8"

services:
  libreddit-web:
    image: libreddit/libreddit
    container_name: libreddit
    hostname: libreddit
    restart: unless-stopped
    environment:
      - LIBREDDIT_DEFAULT_THEME=dark
      - "LIBREDDIT_DEFAULT_SUBSCRIPTIONS=30ROCK+90s_kid+AmItheAsshole+AnimalCrossing+AnimalsBeingDerps+ANormalDayInRussia+ArtefactPorn+AskReddit+askscience+assholedesign+AwardSpeechEdits+aww+barkour+Beachporn+BikiniBottomTwitter+blenderhelp+BoJackHorseman+BoneAppleTea+BoomersBeingFools+buildapcsales+BuyItForLife+camping+coastFIRE+cocktails+Cooking+coolguides+Coronavirus+crappyanimalcrossing+daddit+DadReflexes+Damnthatsinteresting+Dashcam+dataisbeautiful+DDintoGME+diablo4+DIY+DIY_tech+docker+educationalgifs+EmpireDidNothingWrong+ExpatFIRE+FellowKids+financialindependence+fixedbytheduet+FoodPorn+formula1+formuladank+FullAutoCapitalism+gamernews+GameUpscale+gamingnews+gardening+gifs+goldrush+googlehome+hardware+Helldivers+HermanCainAward+HistoryPorn+HobbyDrama+homeassistant+homeautomation+HomeImprovement+homelab+homelabsales+HomeNetworking+HomeServer+HotPepperGrowing+houseplants+howto+HydroHommies+HyperApp+HyruleEngineering+IdiotsInCars+immich+IndoorGarden+January6+JusticeServed+kettlebell+KidsAreFuckingStupid+Landlord+landscaping+leanfire+LearnUselessTalents+LeopardsAteMyFace+lifehacks+LifeProTips+linux+LocalLLaMA+lotrmemes+MagicMirror+magictcgcirclejerk+malefashionadvice+me_irl+microgrowery+midjourney+minipc+Minneapolis+Minnesota_Gardening+MNtrees+mtgcirclejerk+MurderedByWords+stylescommunityIcon_o5qid29us81c1.png&+MushroomPorn+nathanforyou+NationalPark+NativePlantGardening+NatureIsFuckingLit+natureismetal+news+nextfuckinglevel+stylescommunityIcon_qanlm185crr71.png&+nintendo+nodered+nonononoyes+NonPoliticalTwitter+nostalgia+Notakeonlythrow+nottheonion+oddlysatisfying+okboomer+OpenSignups+OTMemes+Outdoors+OutOfTheLoop+pcmasterrace+photoshopbattles+Piracy+Pizza+place+playrustadmin+PS4Deals+RealLifeShinies+RedditWritesSeinfeld+robots+SadHorseShow+science+selfhosted+selfreliance+Showerthoughts+SiberianCats+Simulated+singularity+slowcooking+smarthome+SpecArt+StableDiffusion+StardewValley+StartledCats+Steam+SubredditDrama+thanosdidnothingwrong+TheGreatRegression+TIHI+todayilearned+TopSecretRecipes+TOTK+ToyotaSienna+trackers+TwinCities+unpopularopinion+VoxelArt+wallpaper+watchplantsgrow+weirddalle+Whatcouldgowrong+wheresthebeef+WhyWereTheyFilming+WhyWomenLiveLonger+witcher+worldnews+YouShouldKnow+zelda+Zoomies+zwave"
    ports:
      - 8088:8080
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=my-network"
      # HTTPS redirect
      - "traefik.http.middlewares.libreddit-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.libreddit-redirect.middlewares=libreddit-redirect"
      - "traefik.http.routers.libreddit-redirect.rule=Host(`libreddit.server.unarmedpuppy.com`)"
      - "traefik.http.routers.libreddit-redirect.entrypoints=web"
      # Local network access (no auth) - highest priority
      - "traefik.http.routers.libreddit-local.rule=Host(`libreddit.server.unarmedpuppy.com`) && ClientIP(`192.168.86.0/24`)"
      - "traefik.http.routers.libreddit-local.priority=100"
      - "traefik.http.routers.libreddit-local.entrypoints=websecure"
      - "traefik.http.routers.libreddit-local.tls.certresolver=myresolver"
      # External access (requires auth) - lowest priority
      - "traefik.http.routers.libreddit.rule=Host(`libreddit.server.unarmedpuppy.com`)"
      - "traefik.http.routers.libreddit.priority=1"
      - "traefik.http.routers.libreddit.entrypoints=websecure"
      - "traefik.http.routers.libreddit.tls.certresolver=myresolver"
      - "traefik.http.routers.libreddit.tls=true"
      - "traefik.http.routers.libreddit.middlewares=libreddit-auth"
      # Service and auth middleware
      - "traefik.http.services.libreddit.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.libreddit-auth.basicauth.users=unarmedpuppy:$$apr1$$yE.A6vVX$$p7.fpGKw5Unp0UW6H/2c.0"
      - "traefik.http.middlewares.libreddit-auth.basicauth.realm=Libreddit"
      # Homepage labels
      - "homepage.group=Social & News"
      - "homepage.name=libreddit"
      - "homepage.icon=si-reddit"
      - "homepage.href=https://libreddit.server.unarmedpuppy.com"
      - "homepage.description=Custom Read-only Reddit feed"
    networks:
      - my-network

networks:
  my-network:
    external: true
