services:
  mongo:
    # image: mongo:4.4.18
    image: harbor.server.unarmedpuppy.com/docker-hub/library/mongo:4.4.18
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=tradenote
      - MONGO_INITDB_ROOT_PASSWORD=tradenote
    volumes:
      - mongo_data:/data/db
    networks:
      - my-network

  tradenote:
    # image: eleventrading/tradenote
    image: harbor.server.unarmedpuppy.com/docker-hub/eleventrading/tradenote:latest
    container_name: tradenote_app
    environment:
      - MONGO_URI=mongodb://tradenote:tradenote@mongo:27017/tradenote?authSource=admin
      - TRADENOTE_DATABASE=tradenote
      - APP_ID=unarmedpuppytrades
      - MASTER_KEY=unarmedpuppy42
      - TRADENOTE_PORT=8080
    ports:
      - "8099:8080"
    depends_on:
      - mongo
    networks:
      - my-network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=my-network"
      # HTTPS redirect
      - "traefik.http.middlewares.tradenote-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.tradenote-redirect.middlewares=tradenote-redirect"
      - "traefik.http.routers.tradenote-redirect.rule=Host(`tradenote.server.unarmedpuppy.com`)"
      - "traefik.http.routers.tradenote-redirect.entrypoints=web"
      # Local network access (no auth) - highest priority
      - "traefik.http.routers.tradenote-local.rule=Host(`tradenote.server.unarmedpuppy.com`) && ClientIP(`192.168.86.0/24`)"
      - "traefik.http.routers.tradenote-local.priority=100"
      - "traefik.http.routers.tradenote-local.entrypoints=websecure"
      - "traefik.http.routers.tradenote-local.tls.certresolver=myresolver"
      # External access (requires auth) - lowest priority
      - "traefik.http.routers.tradenote.rule=Host(`tradenote.server.unarmedpuppy.com`)"
      - "traefik.http.routers.tradenote.priority=1"
      - "traefik.http.routers.tradenote.entrypoints=websecure"
      - "traefik.http.routers.tradenote.tls.certresolver=myresolver"
      - "traefik.http.routers.tradenote.tls=true"
      - "traefik.http.routers.tradenote.middlewares=tradenote-auth"
      # Service and auth middleware
      - "traefik.http.services.tradenote.loadbalancer.server.port=8080"
      - "traefik.http.middlewares.tradenote-auth.basicauth.users=unarmedpuppy:$$apr1$$yE.A6vVX$$p7.fpGKw5Unp0UW6H/2c.0"
      - "traefik.http.middlewares.tradenote-auth.basicauth.realm=TradeNote"
      # Homepage labels
      - "homepage.group=Finance & Trading"
      - "homepage.name=TradeNote"
      - "homepage.icon=si-notion"
      - "homepage.href=https://tradenote.server.unarmedpuppy.com"
      - "homepage.description=Trading notes and journal"

networks:
  my-network:
    external: true

volumes:
  mongo_data: