services:
  mongo:
    image: mongo:4.4.18
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=tradenote
      - MONGO_INITDB_ROOT_PASSWORD=tradenote
    volumes:
      - mongo_data:/data/db
    networks:
      - my-network

  tradenote:
    image: eleventrading/tradenote
    container_name: tradenote_app
    environment:
      - MONGO_URI=mongodb://tradenote:tradenote@mongo:27017/tradenote?authSource=admin
      - TRADENOTE_DATABASE=tradenote
      - APP_ID=unarmedpuppytrades
      - MASTER_KEY=unarmedpuppy42
      - TRADENOTE_PORT=8080
    ports:
      - "8099:8080"
    depends_on:
      - mongo
    networks:
      - my-network
    labels:
      - "homepage.group=Finance & Trading"
      - "homepage.name=TradeNote"
      - "homepage.icon=si-notion"
      - "homepage.href=http://192.168.86.47:8099"
      - "homepage.description=Trading notes and journal"

networks:
  my-network:
    external: true

volumes:
  mongo_data: