version: '3.1'

volumes:
  freshrss-data:
  freshrss-db:

services:
  freshrss:
    image: freshrss/freshrss:latest
    ports:
      - 8080:80
    depends_on:
      - db
    volumes:
      - freshrss-data:/var/www/FreshRSS/data

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: freshrss
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: freshrss
    volumes:
      - freshrss-db:/var/lib/postgresql/data