version: '3.1'

volumes:
  freshrss-data:
  freshrss-db:

services:
  freshrss:
    image: freshrss/freshrss:latest
    restart: unless-stopped
    ports:
      - 8005:80
    depends_on:
      - db
    volumes:
      - freshrss-data:/var/www/FreshRSS/data
    labels:
      - "homepage.group=Apps"
      - "homepage.name=FreshRSS"
      - "homepage.icon=si-rss"
      - "homepage.description=RSS reader"
      - "homepage.href=http://172.16.30.45:8005"

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: freshrss
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: freshrss
    volumes:
      - freshrss-db:/var/lib/postgresql/data