version: '3.7'

services:
  rust-server:
    image: didstopia/rust-server
    environment:
      - RUST_SERVER_STARTUP_ARGUMENTS=-batchmode -load -nographics +server.secure 1 +server.saveinterval 60 +decay.delay_override 2880 +decay.duration_override 2880
      - RUST_SERVER_IDENTITY=unarmedpuppy
      #- RUST_SERVER_SEED=174932776 #SMALL
      #- RUST_SERVER_WORLDSIZE=1000
      - RUST_SERVER_SEED=1473311375
      - RUST_SERVER_WORLDSIZE=3000
      - RUST_SERVER_MAXPLAYERS=64
      - RUST_SERVER_NAME=[US] Sulfur Boyz - Practice Girl Map v2.0
      - RUST_SERVER_DESCRIPTION=It's been 84 years. Long live Sulfur Boyz.
      - RUST_SERVER_URL=https://discord.gg/wtCph8rQ
      - RUST_SERVER_BANNER_URL=https://i.imgur.com/FIXxuRI.jpg
      - RUST_SERVER_PORT=28015
      - RUST_SERVER_QUERY_PORT=28017
      - RUST_RCON_WEB=1
      - RUST_RCON_PORT=28016
      - RUST_RCON_PASSWORD=hotdrops
      - RUST_UPDATE_CHECKING=1
      - RUST_UPDATE_BRANCH=public
      - RUST_START_MODE=2 # 2 = Automatically start the server when the container is started
      - RUST_OXIDE_ENABLED=0
      - RUST_APP_PORT=28082
      - PUID=1000
      - PGID=1000
    ports:
      - "8080:8080" # web rcon port
      - "28015:28015/tcp" # ?
      - "28015:28015/udp" # game port
      - "28016:28016/tcp" # rcon port
      - "28016:28016/udp" # rcon port
      - "28017:28017/udp" # query port for server
      - "28082:28082" # app port rust+
    volumes:
      - ./data/rust:/steamcmd/rust
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rust-server.rule=Host(`rust.server.unarmedpuppy.com`)"
      - "traefik.http.routers.rust-server.entrypoints=web"
      - "traefik.http.routers.rust-server.service=rust-server"
      - "traefik.http.services.rust-server.loadbalancer.server.port=28015"
      - "traefik.http.routers.rust-rcon.rule=Host(`rcon-rust.server.unarmedpuppy.com`)"
      - "traefik.http.routers.rust-rcon.entrypoints=web"
      - "traefik.http.routers.rust-rcon.service=rust-rcon"
      - "traefik.http.services.rust-rcon.loadbalancer.server.port=8080"
      - "traefik.http.routers.rust-rcon-ws.rule=Host(`rcon-rust.server.unarmedpuppy.com`)"
      - "traefik.http.routers.rust-rcon-ws.entrypoints=web"
      - "traefik.http.routers.rust-rcon-ws.service=rust-rcon-ws"
      - "traefik.http.services.rust-rcon-ws.loadbalancer.server.port=28016"
      - "homepage.group=Gaming"
      - "homepage.name=Rust Server"
      - "homepage.icon=si-rust"
      - "homepage.href=http://rust.server.unarmedpuppy.com"
      - "homepage.description=Rust server, UDP traffic on port 28015"
    networks:
      - my-network

networks:
  my-network:
    external: true
